@page "/admin"
@using Microsoft.AspNetCore.Identity
@using DT191GProjektHotell.Models
@using DT191GProjektHotell.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager

<h2 class="text-center mt-4">Admin Inloggning</h2>

<div class="container my-4">
    <div class="form-container mx-auto" style="max-width: 400px;">
        <a class="btn btn-custom w-100"
           href="/Identity/Account/Login?returnUrl=/admin/main">
            Logga in som administratör
        </a>
    </div>
</div>